* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.q2-homepage-nav {
    height: 50px;
    background: var(--primary-color);
    color: var(--white);
}

.q2-brand {
    position: absolute;
    padding-left: 0;
    float: left;
    line-height: 50px;
    text-transform: capitalize;
    font-size: 1rem;
    cursor: pointer;
}

.q2-logo {
    color: var(--white);
}

.nav-container {
    max-width: 1000px;
    margin: 0 auto;
}

.q2-nav {
    float: right;
}

.q2-nav .nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.q2-nav .nav-list .nav-item {
    float: left;
    position: relative;
}

.q2-nav .nav-list .nav-item .nav-item_link {
    display: block;
    padding: 0 20px;
    line-height: 50px;
    background: transparent;
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
    transition: background 0.3s ease;
}


/* Dropdown menu */
.q2-nav .nav-list .nav-item .nav-dropdown {
    position: absolute;
    top: 50px;
    left: 25%;
    background: transparent;
    display: none; /* React toggles this */
    z-index: 1000;
    min-width: max-content;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.q2-nav .nav-list .nav-item .nav-dropdown .nav-dropdown-item {
    width: 100%;
}

.q2-nav .nav-list .nav-item .nav-dropdown .nav-dropdown-item .nav-dropdown-item_link {
    display: block;
    padding: 10px 10px;
    line-height: 20px;
    color: var(--blackColor);
    background: var(--light);
    cursor: pointer;
    transition: background 0.2s ease;
}


.q2-homepage-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.q2-homepage-section::-webkit-scrollbar {
    width: 0;
}
















/* Config Matrix */

.matrix-container {
    overflow-x: auto;
    max-width: 100%;
}

table.permission-table {
    width: auto;
    border-collapse: collapse;
    table-layout: fixed;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

tr:nth-of-type(even) {
    background: #CFE8FF;
}

th.vertical-header-cell {
    background: #121212;
    color: white;
    font-weight: bold;
    min-width: 40px;
    padding: 0;
    cursor: pointer;
}

.vertical-header {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.1;
    height: 150px;
    display: inline-block;
    padding: 2px;
}

td {
    min-width: 30px;
    height: 30px;
    cursor: pointer;
}

.group-column {
    width: 120px;
    background: #f8f8f8;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.q2-config-box i {
    font-size: 22px;
    color: #1976D2;
}

.q2-config-actions-subheader {
    display: flex;
    list-style: none;
    padding: 20px;
    margin-top: -0.5rem;
    margin-bottom: 1rem;
    gap: 1rem;
    background-color: var(--light);
}

.q2-config-actions-subheader li a {
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 6px;
    background-color: var(--blackColor);
    color: var(--white);
    font-weight: 500;
    cursor: pointer;
}

.q2-config-actions-subheader li a.q2-config-actions-save {
    opacity: 1;
    background-color: var(--primary-color);
    color: var(--white);
}

.q2-config-actions-subheader li a.q2-config-actions-cancel {
    opacity: 1;
    background-color: var(--dangerColor);
    color: var(--white);
}

.q2-config-actions-subheader li a.disabled {
    background-color: var(--darkGrey);
    opacity: 1;
    pointer-events: none;
    color: var(--white);
}


/*Config Create Form*/

body.popup-open {
    overflow: hidden;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(2px);
    z-index: 9998;
    opacity: 1;
    transition: opacity 0.3s ease;
}


.form-popup-area {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: 90vw;
    min-width: 700px;
    height: auto;
    max-height: 90vh;
    background: var(--white);
    color: var(--blackColor);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow-y: hidden;
    overflow-x: hidden;
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease;
    z-index: 9999;
    padding: 20px 0;
    animation: popup-fade-in 0.3s ease;
}

.form-wrapper {
    width: 100%;
    background-color: transparent;
}

.form-wrapper .form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    border-bottom: 1px solid var(--grey);
}

.form-wrapper .form-header h3 {
    font-size: 22px;
    font-weight: 550;
    color: var(--primary-color);
}

.form-wrapper .form-header span{
    font-size: 14px;
    width: 35px;
    height: 35px;
    background-color: var(--primary-color);
    color: var(--white);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.form-wrapper .config-form {
    width: 100%;
    margin: 35px 30px;
}

.config-form .form-field-box {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px 40px; /* row gap and column gap */
    margin-bottom: 30px;
}

.form-field-box .form-field {
    position: relative;
    height: 50px;
    width: 90%;
}

.form-field .form-input-field {
    height: 100%;
    width: 90%;
    padding: 10px 38px 10px 12px;
    border: 1px solid var(--grey);
    border-radius: 6px;
    font-size: 15px;
    outline: none;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.form-field:not(.group-form-field) i {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--darkGrey);
    font-size: 18px;
    pointer-events: none;
}

.group-form-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}

.group-form-field i{
    position: absolute;
    right: 55px;
    top: 67%;
    transform: translateY(-50%);
    color: var(--darkGrey);
    font-size: 18px;
    pointer-events: none;
}

.group-form-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}

.group-form-box .groups-column-adder {
    max-width: 90vw;
    min-width: 700px;
    padding: 10px 38px 10px 12px;
    border: 1px solid var(--grey);
    border-radius: 6px;
    font-size: 15px;
    resize: none;
}

.form-button {
    padding: 10px 25px;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.group-dropdown-list {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    list-style: none;
    width: 100%;
    max-height: 120px;
    overflow-y: auto;
    padding: 0;
    margin-top: 5px;
    z-index: 10;
}

.group-dropdown-item {
    padding: 8px 10px;
    cursor: pointer;
}

.group-dropdown-item:hover {
    background: #f2f2f2;
}

.group-chips-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fafafa;
    min-height: 48px;
}

.group-chip {
    display: flex;
    align-items: center;
    background: var(--light-primary-color);
    color: var(--blackColor);
    border-radius: 16px;
    padding: 6px 10px;
    font-size: 14px;
    gap: 6px;
}

.group-chip .remove-icon {
    cursor: pointer;
    font-size: 14px;
    color: #444;
}

.group-chip .remove-icon:hover {
    color: var(--dangerColor);
}

.no-groups-text {
    color: var(--darkGrey);
    font-style: italic;
    font-size: 13px;
}


.config-form-popup-area{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: 1200px;
    min-width: 700px;
    height: auto;
    max-height: 800px;
    background: var(--white);
    color: var(--blackColor);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease;
    z-index: 9999;
    padding: 20px 0;
    animation: popup-fade-in 0.3s ease;
}

.config-form-popup-area::-webkit-scrollbar {
    width: 0;
}

.preview-import-options{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.config-view {
    max-width: 700px;
    width: 100%;
    background: var(--white);
    border-radius: 0.75rem;
    overflow: hidden;
    margin: auto;
}

.config-view-header {
    padding: 15px;
    background: var(--white);
    border-bottom: 1px solid var(--grey);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.config-view-header p {
    font-size: 24px;
    font-weight: 600;
    color: var(--text-dark);
    position: relative;
}

.config-view-header p::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 40px;
    height: 3px;
    background: var(--primary-color);
    border-radius: 2px;
}

.config-view-input-area {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px;
}

.config-view-input {
    width: 100%;
    height: 45px;
    border: 1px solid var(--blackColor);
    border-radius: 6px;
    padding: 0 12px;
    font-size: 15px;
    background-color: var(--white);
    color: var(--text-dark);
}

.config-view-input-update {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.config-view-input-update > input {
    width: 75%;
    height: 45px;
    border: 1px solid var(--blackColor);
    border-radius: 6px;
    padding: 0 12px;
    font-size: 15px;
    background-color: var(--white);
    color: var(--text-dark);
    outline: 1px solid var(--light-primary-color);
}

.config-view-button {
    padding: 15px;
    border: none;
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 6px;
    cursor: pointer;
}

.config-view-button.opt-delete {
    background-color: var(--dangerColor);
}

.config-view-button.opt-grant {
    background-color: #00b66d;
}
.config-view-button.opt-grant.disabled {
    background-color: grey;
    cursor: not-allowed;
}


/* ✅ Toggle Section */
.config-view-status-toggle {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding: 8px 12px;
    border-radius: 999px;
    font-weight: 600;
    font-size: 18px;
    color: #111827;
    width: fit-content;
    gap: 10px;
    margin: 0 20px;
}

.config-view-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
}

.config-view-input-toggle {
    opacity: 0;
    width: 0;
    height: 0;
}

.config-view-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: 0.3s;
}

.config-view-slider::before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
}

/* ✅ Checked state */
.config-view-input-toggle:checked + .config-view-slider {
    background-color: #059669;
}

.config-view-input-toggle:checked + .config-view-slider::before {
    transform: translateX(22px);
}

/* ✅ Table Section */
.table-fieldset {
    margin: 2rem;
    padding: 10px 10px;
    border-radius: 1rem;
    background-color: var(--white);
    border: none;
    color: var(--primary-color);
    transition: all 0.3s ease;
}

.table-div {
    display: inline-block;
}

.table-input {
    display: none;
}

.table-label {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    margin: 0 1rem 1rem 0;
    border-radius: 100rem;
    color: var(--blackColor);
    box-shadow: 0 0 0 2px var(--darkGrey);
    transition: all 0.4s ease-in-out;
}

.table-label:before {
    content: "";
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgZmlsbD0iI2ZmZmZmZiIgdmlld0JveD0iMCAwIDI1NiAyNTYiPjxwYXRoIGQ9Ik0yMjkuNjYsNzcuNjZsLTEyOCwxMjhhOCw4LDAsMCwxLTExLjMyLDBsLTU2LTU2YTgsOCwwLDAsMSwxMS4zMi0xMS4zMkw5NiwxODguNjksMjE4LjM0LDY2LjM0YTgsOCwwLDAsMSwxMS4zMiwxMS4zMloiPjwvcGF0aD48L3N2Zz4=");
    background-position: center center;
    background-repeat: no-repeat;
    margin-right: 0.5rem;
    border-radius: 100rem;
    width: 1.5rem;
    height: 1.5rem;
    transition: all 0.4s ease-in-out;
}

.table-label:hover {
    cursor: pointer;
    box-shadow: 0 0 0 2px var(--primary-color);
}

.table-label:hover:before {
    background-color: var(--light-primary-color);
}

.table-input:checked + .table-label {
    box-shadow: 0 0 0 2px var(--primary-color);
}

.table-input:checked + .table-label:before {
    background-color: var(--primary-color);
}

.table-buttons-group{
    display: flex;
    align-items: center;
    justify-content: center;
}



